<mat-card class="user-detail-header">
  <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="editUsermenu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #editUsermenu="matMenu">
  <button mat-menu-item (click)="editUserMenu()">Edit</button>
</mat-menu>
  <img src="../../assets/user.png" alt="" />
  <div class="user-details">
    <h2>{{user.firstname}} {{user.lastname}}</h2>
    {{user.mail}}
  </div>
</mat-card>

<mat-card class="mt-32" >
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="editAddress">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #editAddress="matMenu">
      <button mat-menu-item (click)="editAddressMenu()">Edit</button>
    </mat-menu>
    <mat-card-header><h2>Address</h2></mat-card-header>
    <mat-card-content>
        {{user.address}}
    </mat-card-content>
  <mat-card-content>
    {{user.zipCode}} {{user.city}}
  </mat-card-content>
</mat-card>
