<div class="about-box" data-aos="fade-right">
  <h1>Zusammengefasst</h1>
  <div>
    <div class="icons-container">
      <div>
        <mat-icon>warning</mat-icon>
      </div>
      
      <span>
        <p>Trinkgelder</p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam,
        distinctio quisquam? Officiis maxime esse illo voluptatibus, itaque vel
        magnam dolorum libero, aut sint ducimus eum provident. Reprehenderit
        deserunt magni tempora.</span
      >
    </div>
    <div class="icons-container">
      <div>
        <mat-icon>warning</mat-icon>
      </div>

      <span>
        <p>Trinkgelder</p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam,
        distinctio quisquam? Officiis maxime esse illo voluptatibus, itaque vel
        magnam dolorum libero, aut sint ducimus eum provident. Reprehenderit
        deserunt magni tempora.</span
      >
    </div>
    <div class="icons-container">
      <div>
        <mat-icon>warning</mat-icon>
      </div>

      <span>
        <p>Trinkgelder</p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam,
        distinctio quisquam? Officiis maxime esse illo voluptatibus, itaque vel
        magnam dolorum libero, aut sint ducimus eum provident. Reprehenderit
        deserunt magni tempora.</span
      >
    </div>
  </div>
</div>
