<header class="pl-16 pr-16">
  <img src="../../assets/crm-logo.png" alt="" />
  <div>
    <a href="">Funktion</a>
    <a href="">Kontakt</a>
    <a href="">Login</a>
    <a href="">Impressum</a>
  </div>
</header>

<section class="hero"  >
  <div data-aos="fade-down" data-aos-duration="3000">
    <h1>DriveLogix das Datenmanagement System für Personenbeförderungs unternehmen</h1>
    <h2>Erfahre jetzt mehr über unsere Datenabspeicherung von DriveLogix.</h2>
    <a [routerLink]="['/app']">Jetzt mehr erfahren</a>

  </div>
</section>
<app-about-the-app></app-about-the-app>

